<div class="tab-pane fade show active" id="form-edit" role="tabpanel" aria-labelledby="form-add-tab">
    <div class="card shadow mb-4 mt-2">
        <div class="card-body">
            <form action="/admin/item/<%= item._id %>?_method=PUT" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="title">Ttile</label>
                    <input value="<%= item.title %>" type="text" name="title" class="form-control" id="title" placeholder="Enter title" aria-describedby="title" required>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input value="<%= item.price %>" type="text" name="price" class="form-control" id="price" placeholder="Enter price" aria-describedby="price" required>
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    <input value="<%= item.city %>" type="text" name="city" class="form-control" id="city" placeholder="Enter city" aria-describedby="city" required>
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control" name="categoryId">
                        <option value="<%= item.categoryId[0]._id %>"><%= item.categoryId[0].name %></option>
                        <% categories.forEach(category => { %>
                            <option value="<%= category._id %>"> <%= category.name %> </option>
                        <% })%>
                    </select>
                </div>
                <div class="form-group">
                    <label for="image">Add Image</label>
                    <input type="file" name="image" class="form-control" id="image" aria-describedby="category image" multiple>
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea type="text" name="description" class="form-control" id="description" aria-describedby="description"><%= item.description %></textarea>
                </div>
                <a href="/admin/item" class="btn btn-warning mx-3">Cancel</a>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
        </div>
    </div>
</div>
