<div class="tab-pane fade show active" id="show-images" role="tabpanel" aria-labelledby="show-table-tab">
    <div class="row">
        <% image.forEach( (image, index) => { %>
            <div class="col-4">
                <div class="card shadow mb-4 mt-2">
                    <div class="card-body">
                        <img src="<%= baseUrl %>/<%= image.imageUrl %>" alt="image item <%= ++index %>" width="300" class="d-block"/>
                        <form action="/admin/item/<%= itemId%>/images/<%= image._id %>?_method=DELETE" method="post">
                            <button type="submit" class="btn btn-outline-danger  mt-3"><i class="fas fa-trash"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>
    <a href="/admin/item" class="btn btn-warning">Back</a>
    <button class="btn btn-info mx-2" data-toggle="modal" data-target="#addNewImageModal">Add New</button>
</div>

<div class="modal"  id="addNewImageModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add New Images</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="/admin/item/<%= itemId %>/images" method="post" enctype="multipart/form-data">
            <div class="modal-body">
                <div class="form-group">
                  <label for="categoryName">Select Images</label>
                  <input type="file" name="image" class="form-control" id="image" placeholder="select images" aria-describedby="select images" multiple>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
        </div>
    </div>
  </div>
  
