<div class="tab-pane fade show active" id="show-feature" role="tabpanel" aria-labelledby="show-table-tab">
    <div class="card shadow mb-4 mt-2">
        <div class="card-body">
            <div class="row">
                <div class="col-md-5">
                    <form action="/admin/item/<%= itemId %>/feature" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="category">Feature</label>
                            <select class="form-control" name="featureCategoryId" id="featureCategoryId">
                                <option value="">Select feature</option>
                                <% featureCategories.forEach(category => { %>
                                    <option value="<%= category._id %>"> <%= category.name %> </option>
                                <% })%>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="qty">Quantity</label>
                            <input type="number" name="qty" class="form-control" id="qty" placeholder="Quantity" aria-describedby="quantity" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>
                </div>

                <div class="col-md-7" >
                    <div class="table-responsive">
                        <table class="table table-bordered" id="tableFeature" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Name</th>
                                    <th>Quantity</th>
                                    <th>Image</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% features.forEach((feature, index) => { %>
                                    <tr>
                                        <td><%= ++index %></td>
                                        <td><%= feature.category.name %></td>
                                        <td><%= feature.qty %></td>
                                        <td><img src="<%= baseUrl %>/<%= feature.category.imageUrl %>" height="40"/></td>
                                        <td>
                                            <form action="/admin/item/<%= itemId %>/feature/<%= feature._id %>?_method=DELETE" method="post">
                                                <button type="button" data-feature_categoryid="<%= feature.category._id %>" data-featureid="<%= feature._id%>" data-itemid="<%= itemId %>" data-name="<%= feature.category.name %>" data-qty="<%= feature.qty %>" class="btn btn-warning btn-circle btn-update"><i class="fas fa-edit"></i></button>
                                                <button type="submit" class="btn btn-danger btn-circle"><i class="fas fa-trash"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
